@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pop";
  src: url("../public/assets/pop.ttf");
}
@font-face {
  font-family: "glory";
  src: url("../public/assets/glory.ttf");
}


body {
    overflow: hidden;
    background-color: #111;
    position: relative;
  }

  /* .fade-in {
    animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } */
  
  /* .loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    overflow: hidden; 
  }
  
  .loading-screen img {
    width: 1500px;
    height: 800px;
  }
  
  .hidden {
    display: none;
  }
  
  @keyframes fall {
    0% {
      transform: translateY(-100%); 
    }
    100% {
      transform: translateY(100vh); 
    }
  }
   */

  body::before {
    content: "";
    background: url('./Components/moon.gif') no-repeat center center fixed;
    background-size: auto;
    opacity: 0.2; /* Adjust the transparency here */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Ensure it stays behind all content */
    pointer-events: none; /* Allow interaction with elements behind */
    animation: backInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s;
  }

  
  
  /* Comet styling */
  /* .comet {
    position: absolute;
    width: 2px;
    height: 80px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.808), transparent);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
  } */
  
  /* Comet animation */
  /* @keyframes comet-move {
    from {
      transform: translateX(0) translateY(0) rotate(-60deg);
      opacity: 1;
    }
    to {
      transform: translateX(100vw) translateY(100vh) rotate(-60deg);
      opacity: 0;
    }
  } */

  /* .astronaut-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 157px; 
    z-index: 1000; 
    animation: fall 3s ease-in-out forwards;
    left: 30rem;
    top: -2rem;
    opacity: 0.6;
  }
  
   @keyframes fall {
    0% {
      transform: translate(-100px, -100px) rotate(0deg);
      opacity: 1;
    }
    90% {
      transform: translate(calc(100vw - 50px), calc(100vh - 50px));
      opacity: 1;
    }
    100% {
      opacity: 0;
    } 
   }  */

   .heading {
    color: #E3DC95;
   }

   .name {
    color: #ffffff;
   }

.gradient-border {
  position: relative;
  padding: 2rem;
  /* border: 4px solid transparent; */
  /* border-image: linear-gradient(45deg, #01ff95, #00ffea) 0.5; */
  border-radius: 0;
  opacity: 0;
  animation: fadeIn 5s forwards, backInUp;
  animation-duration: 5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.typewriter h1,  #typewriter-text {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  color: #DFFF00;
  font-family: Courier, monospace;
  margin: 10px auto;
  letter-spacing: .15em;
  height: 40px;
  animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite, zoomIn;
  animation-duration: 5s;
}

@keyframes typing {
  from { width: 0 }
  to { width: fit-content }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.corner-link {
    position: absolute;
    font-size: larger;
    font-weight:400;
    width: 115px;
    height: 100px;
    background-color: #E3DCC2;
    font-family: Garamond, serif;
    color: rgb(19, 19, 19);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% 0 0 0;
    transform-origin: center;
    transition: transform 0.9s ease, background-color 0.9s ease;
  }
  /* .corner-link span {
    margin-left: 8px;
  } */
  .corner-link:hover {
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }
  .skills-link {
    top: 0;
    left: 0;
    border-radius: 0 0 100px 0;
    animation: zoomIn;
    animation-duration: 5s;
  }
  .contact-link {
    top: 0;
    right: 0;
    border-radius: 0 0 0 100px;
    animation: zoomIn;
    animation-duration: 5s;
  }
  .experience-link {
    bottom: 0;
    left: 0;
    border-radius: 0 100px 0 0;
    animation: zoomIn;
    animation-duration: 5s;
  }
  .projects-link {
    bottom: 0;
    right: 0;
    border-radius: 100px 0 0 0;
    animation: zoomIn;
    animation-duration: 5s;
  }
  .section {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    border-radius: 0.5rem;
    color: white;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.9s;
  }